*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.15;
	color: #34404b;
	background:#f4f6f8; 
}
li{
	list-style: none;
}
a{
}
.hidden{display: none;}
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin:0 auto;
}
.left-column{
	float: left;
	width: 270px;
}
.block{
	float: left;
	width: calc(100% - 40px);
	padding: 20px;
	background: #fff;
	margin-bottom: 30px;
}
.products{
	float:right;
	width: 870px;
	padding-left: 15px;
}
.products{
	float:right;
	width: 870px;
	padding: 0 15px;
	/*trái phải 0, trên dưới 15*/
}
.products .rows{
	float:left;
	width: 100%;
	margin-bottom: 30px;
	/*để row kế tiếp có khoảng cách với row trên*/
}
.products .rows .item{
	float:left;
	width: 230px;
	text-align: center;
	background: #fff;
	padding: 20px 20px;
	margin:0 15px; 
}
.products .rows .item:first-child{
	margin-left:0;
	/*fist-child chỉ phần tử đầu tiên trong nhóm thẻ item*/
}
.products .rows .item:last-child{
	margin-right:0;
	/*last-child chỉ phần tử cuối cùng*/
}
.products .rows .item figcaption{
	font-size: 18px;
	font-weight: 600;
	line-height: 55px;
}
.products .rows .item{
	position: relative;
}
.products .rows .item .show{
	opacity: 1;
}
.products .rows .item .show-hover{
	position: absolute;
	opacity: 0;
	top:20px;
	left:20px;
	width: calc(100% - 40px);
	transition: all 1050ms ease-out;
	-webkit-transition:all 1050ms ease-out;
	/*opacity: độ trong suốt, với 1 là hiển thị rõ còn 0 là không hiện*/
	/*transition: tốc độ hiển thị*/
}
.products .rows .item:hover .show{
	opacity: 0;
}
.products .rows .item:hover .show-hover{
	opacity: 1;
}
.products .rows .item figcaption:hover{
	color: red;
}
h5{
	float:left;
	width: 100%;
	margin-bottom: 30px;
}
.products .rows .item:hover .show-hover .color{
	float:left;
	width: 100%;
	margin-bottom: 30px;
}
.products .rows .item:hover .show-hover .function{
	float:left;
	width: 100%;
	margin-bottom: 30px;

}
.products .rows .item .price{
	font-size: 18px;
	font-weight: 600;
	color: #ff5912;
}
.block.price-filter{
	text-align: center;
}
.price-filter .line-box{
	width: 186px;
	border-bottom: 3px solid #edf0f2;
	margin:0 auto;
	position: relative;
}
.price-filter .line-box .line{
	display: inline-block;
	width: 107px;
	border-bottom: 3px solid #34404b;
	position: absolute;
	top:0px;
	left:40px;
}
.price-filter .line-box .node{
	position: absolute;
	width: 11px;
	height: 11px;
	background: #34404b;
	border-radius: 100%;
}
.price-filter .line-box .node.no_1{
	top:-5px;
	left:30px;
}
.price-filter .line-box .node.no_2{
	top:-5px;
	right:30px;
}
.checkbox{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.checkbox label{
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.checkbox label:before{
	content: " ";
	width: 6px;
	height: 6px;
	border:5px solid #edf0f2;
	background: #edf0f2;
	display: inline-block;
	margin-right: 15px;
}
.checkbox input[type="checkbox"]:checked + label {
    color: #ff5912;
}
.checkbox input[type="checkbox"]:checked + label:before{
	border:5px solid #ff5912;
}
.products .row .item .function{
	float: left;
}

header {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.15;
	color: #34404b;
	background:#fff;
	width: 100%;
	height: 182px; 
}
.smallheader {
	
	width: 100%;
}
.smallheader .contact{
	float: left;
	width: 400px;
}
.smallheader .contact .mail{
	float: left;
	display: inline-block;
}
.smallheader .contact .phone{
	float: right;
	display: inline-block;
}