*{
    padding: 0px;
    margin: 0px;
}

.content.col-xs-12.ng-scope {
    font-size: 20px;
}

footer.col-xs-12 {
    background-color: #3498db;
    font-size: 18px;
}

input.form-control.text-center {
    border-radius: 20px;
}
body{
    font-family: segoe ui light;
}

header{
    position: fixed !important;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9;
}

header.col-xs-12 {
    /* opacity: 0.7; */
}
footer{
    position: fixed !important;
    bottom: 0;
    left: 0;
    background: gray;
    z-index: 9;
    font-color: black;
}

footer.col-xs-12 {}
.content.col-xs-12{
    padding-top: 136px;
    font-size: 20px;
}
.icon{
    width: 34px;
    height: 34px;
    margin-top: 8px;
    padding: 0px;
}
.contact{
    border-bottom: 1px solid #2fff007d;
    overflow: hidden;
    transition: 0.8s;
    padding: 0px;
}
a {
   
    color: #34040b;
}
ul li{
    list-style-type: none;
}
.phonenumber{
    font-size: 20px;
    padding-left: 50px;
    transition: 0.8s;
    transform: scale(0);
    opacity: 0;
}
.contact:hover .phonenumber{
    transform: scale(1);
    opacity: 1;
    /*transform: translateX(100%);*/
}
.contact:hover{
    transform: scale(1.08) translateX(20px);
    background-color: #babcd9a3;
}