body 
{
	background: #f4f6f8;
	margin: 0px;
}
h3
{
	font-size: 21px;
	font-family: Calibri;
	color: #34404b;
}
a
{
	margin: 60px;
	font-size: 21px;
	font-family: Calibri;
	color: #ff5912;
}
hgroup
{
	width: 239px;
	height: 352px;
	text-align: center;
	margin-right: 20px; 
	padding: 20px;
	background: #ffffff;
	float: left;
}
