*{
	box-sizing: border-box;
}
header{
	width: 100%;
}
.l-column .mail{
	padding: 20px;
}
.section-top .container .right-column {
	padding: 20px;
}
header .section-bottom .container .logo{
	width: 100%;
	text-align: center;
	padding: 20px 0px 0px 0px;
}
header .section-bottom .container .mobile-menu1{
	display: none;
}
header .section-bottom .container .menu{
	padding: 20px 0px 0px 0px;
}
header .section-bottom .container .menu a{
	padding: 0 40px 0px 20px;
}
header .section-bottom .container .choose{
	padding: 0px 20px 0px 0px;
}

.container{
	width: 100%;
}
.left-navigation{display: none;}
.section9{
	padding-top: 20px;
	display: inline-block;
	width: 100%;
	height: 96px;
	float: left;
	text-align: center;
	background: #f4f6f8;
	font-size: 16px;
	font-weight: 1000;
}
.section9 .mobile{
	text-align: center;
	display: inline-block;
	width: 25%;
	padding: 10px;
	background: #fff;
	float: left;
	border: 1px solid #f4f6f8;
}
.section9 .mobile .dot a{
	color: #ff5912;
}
.section{
	margin: 0px;
}
.products{
	width: 100%;
	padding: 0px;
}
.products .rows{
	margin: 0px;
}
.products .rows .item{
	width: calc(100% / 3);
	padding: 0px 10px;
}
.products .rows .item .sub{
	height: 350px;
}
.paginator{
	width: 100%;
}
.write{
	height: 160px;
	margin-top: 20px;
	background: #fff;
}
.write .container .text{
	width: 100%;
}
.write .container .text .newsletter{
	padding: 20px;
	width: 25%;
}
.write .container .text .join-us{
	padding: 25px;
	width: 75%;
	text-align: right;
}
.write .container .type-email{
	width: 100%;
	padding: 20px;
}
footer{
	height: 120px;
	margin-top: 20px;
}
footer .container .l-foot{
	width: 100%;
	text-align: center;
}
footer .container .l-foot .shopy{
	padding-top: 20px;
}
footer .container .menu2{
	display: none;
}
footer .container .payment{
	display: none;
}

/*page2*/

.section1{
	padding-top: 20px;
	height: 750px;
}
.section1 .container .leftc{
	width: 100%;
}
.section1 .container .leftc .title1{
	width: 100%;
	display: inline-block;
	font-size: 40px;
	font-weight: 1000;
	color: #ff5912;
	text-align: center;
}
.section1 .container .leftc .smallimage{
	width: 100%;
	padding: 20px 0 0 0;
	text-align: center;
}
.section1 .container .leftc .smallimage .smallsub{
	margin: 0;
}
.section1 .container .leftc .smallimage .smallsub .small{
	width: calc(100% / 3);
	padding: 0;
}
.section1 .container .detail{
	width: 100%;
	text-align: center;
}
.section1 .container .detail .title{
	display: none;
}
.section1 .container .detail .subtitle{
	padding-top: 20px;
}
.section1 .container .detail .description{
	padding-top: 20px;
}
.section1 .container .detail .choose{
	padding-top: 20px;
}
.section1 .container .detail .choose .size{
	width: 50%;
	padding-left: 20px;
	text-align: left;
}
.section1 .container .detail .choose .quantity{
	width: 50%;
	padding-right: 20px;
	text-align: right;
}
.section1 .container .detail .order{
	padding-top: 20px;
}
.section1 .container .detail .order .pri{
	width: 25%;
	font-size: 18px;
	padding-left: 20px;
	text-align: left;
}
.section1 .container .detail .order .button{
	width: 75%;
	padding-right: 20px;
	text-align: right;
}
.section2 {
	padding-top: 20px;
	height: 160px;
}
.section2 .container .relatedproducts{
	padding-top: 20px;
}
.section3 .container .row{
	margin: 0;
}
.section3 .container .row .item{
	width: calc(100% / 2);
	padding: 0 10px;
	height: 355px;
}


/*page3*/

.section2{
	height: 120px;
}
.section2 .container .relatedproducts{
	padding: 0;
}
.section5{
	padding: 0px;
}
.section6 {
	padding-top: 20px;
	height: 240px;
}
.section6 .container .hotdeal{
	width: 100%;
	height: 100px;
}
.section6 .container .hotdeal .sale1{
	width: 30%;
}
.section6 .container .hotdeal .sale1 .s50{

}
.section6 .container .hotdeal .sale2{
	width: 45%;
}
.section6 .container .hotdeal .sale3{
	width: 25%;
}
.section6 .container .adv{
	width: 100%;
	height: 100px;
	margin-top: 20px;
}
.section7 .container .row1{
	margin: 0;
}
.section7 .container .row1 .item1{
	width: 50%;
	padding: 0 10px;
	height: 145px;
}
.section7 .container .row1 .item1 .sub1{
	padding-top: 20px;
}
.section7 .container .row1 .item1 .sub2{
	width: 45%;
}
.section7 .container .row1 .item1 .sub3{
	width: 55%;
}

}