*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.15;
	color: #34404b;
	background:#f4f6f8; 
}
a{
}
.products{
	float:right;
	width: 870px;
	padding: 0 15px;
	/*trái phải 0, trên dưới 15*/
}
.products .rows{
	float:left;
	width: 100%;
	margin-bottom: 30px;
	/*để row kế tiếp có khoảng cách với row trên*/
}
.products .rows .item{
	float:left;
	width: 230px;
	text-align: center;
	background: #fff;
	padding: 20px 20px;
	margin:0 15px; 
}
.products .rows .item:first-child{
	margin-left:0;
	/*fist-child chỉ phần tử đầu tiên trong nhóm thẻ item*/
}
.products .rows .item:last-child{
	margin-right:0;
	/*last-child chỉ phần tử cuối cùng*/
}
.products .rows .item figcaption{
	font-size: 18px;
	font-weight: 600;
	line-height: 55px;
}
.products .rows .item{
	position: relative;
}
.products .rows .item .show{
	opacity: 1;
}
.products .rows .item .show-hover{
	position: absolute;
	opacity: 0;
	top:20px;
	left:20px;
	width: calc(100% - 40px);
	transition: all 1050ms ease-out;
	-webkit-transition:all 1050ms ease-out;
	/*opacity: độ trong suốt, với 1 là hiển thị rõ còn 0 là không hiện*/
	/*transition: tốc độ hiển thị*/
}
.products .rows .item:hover .show{
	opacity: 0;
}
.products .rows .item:hover .show-hover{
	opacity: 1;
}
.products .rows .item figcaption:hover{
	color: red;
}
.products .rows .item .price{
	font-size: 18px;
	font-weight: 600;
	color: #ff5912;
}